.first__article-img {
  width: 100%;
  min-height: 300px;
  background-image: url('../assets/images/image-web-3-mobile.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.news {
  max-width: 300px;
  margin: 2rem auto;
  background-color: var(--very-dark-blue);
  color: white;
  padding: 1rem;
}

.news h3:hover {
  color: var(--soft-orange);
}

.new {
  padding-top: 2rem;
}

.middle {
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--dark-grayish-blue);
  border-top: 1px solid var(--dark-grayish-blue);
}

section {
  margin-bottom: 3rem;
}

article {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem auto;
  max-width: 330px;
}

article h3:hover {
  color: var(--soft-red);
}
article p {
  margin: 0;
}

.article__img {
  width: 100px;
}

.article__img img {
  width: 100%;
  object-fit: contain;
}

.article__id {
  color: var(--grayish-blue);
  font-size: 1.6rem;
  font-weight: 700;
}

.article__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 210px;
}

@media screen and (min-width: 600px) {
  .first__article-img {
    background-image: url('../assets/images/image-web-3-desktop.jpg');
  }
  .first__article {
    margin: auto;
    max-width: 800px;
  }
  .first__article-content {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
  }
  .first__article-description,
  .first__article h1 {
    max-width: 45%;
  }

  .first__article-description p {
    margin-bottom: 2rem;
  }

  .articles {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  article {
    margin: 2rem 0;
    width: 360px;
  }

  .top {
    margin: auto 0;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .top {
    display: flex;
  }

  .first__article {
    margin: auto 0;
  }
  .news {
    margin: 0;
  }
}
